@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform:  rotate(0deg);  }
   20% { -webkit-transform:  rotate(0deg);  }
   40% { -webkit-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -webkit-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -webkit-transform:  rotate(0deg) translate(0px,0px);  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform:  rotate(0deg);  }
   20% { -moz-transform:  rotate(0deg);  }
   40% { -moz-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -moz-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -moz-transform:  rotate(0deg) translate(0px,0px);  }
}
@-o-keyframes transform-bounce
{
   0% { -o-transform:  rotate(0deg);  }
   20% { -o-transform:  rotate(0deg);  }
   40% { -o-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -o-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -o-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -o-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -o-transform:  rotate(0deg) translate(0px,0px);  }
}
@-ms-keyframes transform-bounce
{
   0% { -ms-transform:  rotate(0deg);  }
   20% { -ms-transform:  rotate(0deg);  }
   40% { -ms-transform:  rotate(0deg) translate(0px,-30px);  }
   50% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
   60% { -ms-transform:  rotate(0deg) translate(0px,-15px);  }
   80% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
   100% { -ms-transform:  rotate(0deg) translate(0px,0px);  }
}
@keyframes transform-bounce
{
   0% { transform:  rotate(0deg);  }
   20% { transform:  rotate(0deg);  }
   40% { transform:  rotate(0deg) translate(0px,-30px);  }
   50% { transform:  rotate(0deg) translate(0px,0px);  }
   60% { transform:  rotate(0deg) translate(0px,-15px);  }
   80% { transform:  rotate(0deg) translate(0px,0px);  }
   100% { transform:  rotate(0deg) translate(0px,0px);  }
}
@-webkit-keyframes transform-bounce-out
{
   0% { -webkit-transform:  rotate(0deg);  }
   25% { -webkit-transform:  rotate(0deg) scale(0.95,0.95);  }
   50% { -webkit-transform:  rotate(0deg) scale(1.1,1.1); opacity: 1;  }
   100% { -webkit-transform:  rotate(0deg) scale(0.3,0.3); opacity: 0;  }
}
@-moz-keyframes transform-bounce-out
{
   0% { -moz-transform:  rotate(0deg);  }
   25% { -moz-transform:  rotate(0deg) scale(0.95,0.95);  }
   50% { -moz-transform:  rotate(0deg) scale(1.1,1.1); opacity: 1;  }
   100% { -moz-transform:  rotate(0deg) scale(0.3,0.3); opacity: 0;  }
}
@-o-keyframes transform-bounce-out
{
   0% { -o-transform:  rotate(0deg);  }
   25% { -o-transform:  rotate(0deg) scale(0.95,0.95);  }
   50% { -o-transform:  rotate(0deg) scale(1.1,1.1); opacity: 1;  }
   100% { -o-transform:  rotate(0deg) scale(0.3,0.3); opacity: 0;  }
}
@-ms-keyframes transform-bounce-out
{
   0% { -ms-transform:  rotate(0deg);  }
   25% { -ms-transform:  rotate(0deg) scale(0.95,0.95);  }
   50% { -ms-transform:  rotate(0deg) scale(1.1,1.1); opacity: 1;  }
   100% { -ms-transform:  rotate(0deg) scale(0.3,0.3); opacity: 0;  }
}
@keyframes transform-bounce-out
{
   0% { transform:  rotate(0deg);  }
   25% { transform:  rotate(0deg) scale(0.95,0.95);  }
   50% { transform:  rotate(0deg) scale(1.1,1.1); opacity: 1;  }
   100% { transform:  rotate(0deg) scale(0.3,0.3); opacity: 0;  }
}
@-webkit-keyframes transform-3d-flip
{
   0% { -webkit-transform: perspective(400px) rotateX(0deg);  }
   40% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(170deg) translate3d(0px,0px,150px);  }
   50% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(190deg) scale3d(1.01,1.01,1.01) translate3d(0px,0px,150px);  }
   80% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(360deg) scale3d(0.95,0.95,0.95) translate3d(0px,0px,0px);  }
   100% { -webkit-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) translate3d(0px,0px,0px);  }
}
@-moz-keyframes transform-3d-flip
{
   0% { -moz-transform: perspective(400px) rotateX(0deg);  }
   40% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(170deg) translate3d(0px,0px,150px);  }
   50% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(190deg) scale3d(1.01,1.01,1.01) translate3d(0px,0px,150px);  }
   80% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(360deg) scale3d(0.95,0.95,0.95) translate3d(0px,0px,0px);  }
   100% { -moz-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) translate3d(0px,0px,0px);  }
}
@-o-keyframes transform-3d-flip
{
   0% { -o-transform: perspective(400px) rotateX(0deg);  }
   40% { -o-transform: perspective(400px) rotateX(0deg) rotateY(170deg) translate3d(0px,0px,150px);  }
   50% { -o-transform: perspective(400px) rotateX(0deg) rotateY(190deg) scale3d(1.01,1.01,1.01) translate3d(0px,0px,150px);  }
   80% { -o-transform: perspective(400px) rotateX(0deg) rotateY(360deg) scale3d(0.95,0.95,0.95) translate3d(0px,0px,0px);  }
   100% { -o-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) translate3d(0px,0px,0px);  }
}
@-ms-keyframes transform-3d-flip
{
   0% { -ms-transform: perspective(400px) rotateX(0deg);  }
   40% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(170deg) translate3d(0px,0px,150px);  }
   50% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(190deg) scale3d(1.01,1.01,1.01) translate3d(0px,0px,150px);  }
   80% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(360deg) scale3d(0.95,0.95,0.95) translate3d(0px,0px,0px);  }
   100% { -ms-transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) translate3d(0px,0px,0px);  }
}
@keyframes transform-3d-flip
{
   0% { transform: perspective(400px) rotateX(0deg);  }
   40% { transform: perspective(400px) rotateX(0deg) rotateY(170deg) translate3d(0px,0px,150px);  }
   50% { transform: perspective(400px) rotateX(0deg) rotateY(190deg) scale3d(1.01,1.01,1.01) translate3d(0px,0px,150px);  }
   80% { transform: perspective(400px) rotateX(0deg) rotateY(360deg) scale3d(0.95,0.95,0.95) translate3d(0px,0px,0px);  }
   100% { transform: perspective(400px) rotateX(0deg) rotateY(0deg) scale3d(1.0,1.0,1.0) translate3d(0px,0px,0px);  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
