body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #81EAF2;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: #57BBB9;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #57BBB9;
   background-image: url(images/copia.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 150px 20px 150px 20px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -20px;
   margin-left: -20px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 20px;
   padding-left: 20px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_ResponsiveMenu1
{
   background-color: rgba(87,187,185,1.00);
   display: block;
   font-family: Tahoma;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #57BBB9;
   display: inline-block;
   height: 69px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #57BBB9;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a 
{
   color: #000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 39px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #57BBB9;
   color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 69px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 135px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 135px;
   position: relative;
   top: -69px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #000000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #424242;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:970px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #57BBB9;
   color: #000000;
   padding: 0px 20px 0px 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #57BBB9;
   color: #4F4F4F;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 69px;
   line-height: 69px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #7A7A7A;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   left: 30px;
   top: 22px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #000000;
   color: #000000;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #CCCCCC;
   color: #424242;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #424242;
}
}
#wb_ResponsiveMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 70px 10px 20px 10px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_features
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#features
{
   box-sizing: border-box;
   height: 100vh;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
}
#features .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   float: left;
}
#features > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-1 > .col-1-padding
{
   padding: 25px 0px 25px 0px;
}
#features > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-2 > .col-2-padding
{
   padding: 25px 0px 25px 0px;
}
#features > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#features > .row > .col-3 > .col-3-padding
{
   padding: 25px 0px 25px 0px;
}
#features:before,
#features:after,
#features .row:before,
#features .row:after
{
   display: table;
   content: " ";
}
#features:after,
#features .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#features > .row > .col-1, #features > .row > .col-2, #features > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   height: 100vh;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
}
#services .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#services > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#services > .row > .col-1
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#services-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #FFFFFF;
   opacity: 0.69;
}
#wb_service-text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_service-text div
{
   text-align: center;
   white-space: nowrap;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon2
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 72px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #4F4F4F;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 20px 0px 10px 0px;
   text-align: center;
}
#Heading3
{
   color: #000000;
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   height: 100vh;
   padding: 125px 15px 125px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#LayoutGrid4-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #FFFFFF;
   opacity: 0.69;
}
#skills
{
   display: -webkit-flex;
   display: flex;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   margin: 0;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   font-size: 0px;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 0px 0px 10px 0px;
   text-align: left;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#Heading5
{
   color: #000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 37px;
   margin: 0;
   text-align: left;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#progressbar_html
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#progressbar_html, #progressbar_html .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_html, #progressbar_html .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_html,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_html .ui-widget-header
{
   border-color: #000000;
   background-color: #000000;
   background-image: none;
}
#progressbar_html-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label6
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#progressbar_uidesign
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_uidesign, #progressbar_uidesign .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_uidesign,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_uidesign .ui-widget-header
{
   border-color: #000000;
   background-color: #000000;
   background-image: none;
}
#progressbar_uidesign-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#Label7
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 13px;
   box-sizing: border-box;
   padding: 4px 4px 4px 0px;
   margin: 0;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
   text-align: left;
   vertical-align: top;
}
#progressbar_jquery
{
   margin: 0px 0px 10px 0px;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 100%;
   flex-basis: 100%;
   -webkit-align-self: auto;
   align-self: auto;
}
#progressbar_jquery, #progressbar_jquery .ui-corner-right
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#progressbar_jquery, #progressbar_jquery .ui-corner-left
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#progressbar_jquery,ui-widget-content
{
   border-color: #D3D3D3;
   background-color: #FFFFFF;
   background-image: none;
}
#progressbar_jquery .ui-widget-header
{
   border-color: #000000;
   background-color: #000000;
   background-image: none;
}
#progressbar_jquery-label
{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   text-align: center;
   line-height: 20px;
   vertical-align: middle;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading6
{
   color: #000000;
   font-family: Verdana;
   font-weight: normal;
   font-size: 43px;
   margin: 0;
   text-align: center;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading1
{
   color: #000000;
   font-family: Verdana;
   font-weight: normal;
   font-size: 53px;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon1
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 82px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon4
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon4 i
{
   color: #000000;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 72px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: transform-bounce 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-bounce 1000ms linear 0ms infinite normal both;
   animation: transform-bounce 1000ms linear 0ms infinite normal both;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon3
{
   height: 47px;
   width: 52px;
}
#FontAwesomeIcon3 i
{
   color: #000000;
   display: inline-block;
   font-size: 47px;
   line-height: 47px;
   vertical-align: middle;
   width: 39px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #4F4F4F;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon5
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon5 i
{
   color: #000000;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 77px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#FontAwesomeIcon6
{
   height: 73px;
   width: 88px;
}
#FontAwesomeIcon6 i
{
   color: #000000;
   display: inline-block;
   font-size: 73px;
   line-height: 73px;
   vertical-align: middle;
   width: 66px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #4F4F4F;
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #57BBB9;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#footer .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#footer > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: left;
}
#footer > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#footer > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1, #footer > .row > .col-2, #footer > .row > .col-3, #footer > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#footer-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #57BBB9;
   opacity: 1;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text3 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_CssMenu2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0px 0px 40px 0px;
   text-align: left;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu2 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 #4F6E60019AE5476639F40;
}
#wb_CssMenu2 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text5 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_CssMenu5
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu5 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 100%;
}
#wb_CssMenu5 li
{
   float: left;
   margin: 0;
   padding: 0px 0px 0px 0px;
   width: 100%;
}
#wb_CssMenu5 a
{
   display: block;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 100%;
   height: 25px;
   padding: 0px 0px 0px 0px;
   vertical-align: middle;
   line-height: 25px;
   text-align: left;
}
#wb_CssMenu5 li:hover a, #wb_CssMenu5 a:hover
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px #2E6DA4 #8FACA6819AE5476639F40;
}
#wb_CssMenu5 .firstmain a
{
   margin-top: 0px;
}
#wb_CssMenu5 li.lastmain
{
   padding-bottom: 0px;
}
#wb_CssMenu5 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text9
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text9 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 4px 0px 0px 0px;
   margin: 0px 0px 40px 0px;
   text-align: left;
}
#wb_Text10
{
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
}
#wb_Text10 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 8px 0px;
   margin: 0;
   text-align: left;
}
#wb_Text11
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   line-height: 21px;
}
#wb_Text11 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Card5
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 0px 25px 0px;
   padding: 0;
   text-align: left;
}
#Card5-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card5-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 50%;
   max-width: 80px;
   width: 100%;
   height: 80px;
}
#Card5-card-item1
{
   box-sizing: border-box;
   margin: -80px 20px 0px 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 10px 20px 10px 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#Card5-card-item3
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0px 10px 0px 92px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card5-card-item3 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card5-card-item3 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#Card5-card-item4
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0px 10px 0px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card5-card-item4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card5-card-item4 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#Card5-card-item5
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card5-card-item5 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card5-card-item5 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#wb_Card4
{
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: column;
   -ms-flex-direction: column;
   flex-direction: column;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   box-sizing: border-box;
   margin: 0px 0px 40px 0px;
   padding: 0;
   text-align: left;
}
#Card4-card-body
{
   -webkit-flex: 1 1 auto;
   -ms-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card4-card-item0
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #000000;
   border-radius: 50%;
   max-width: 80px;
   width: 100%;
   height: 80px;
}
#Card4-card-item1
{
   box-sizing: border-box;
   margin: -80px 20px 0px 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 0px 0px 0px 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
}
#Card4-card-item3
{
   box-sizing: border-box;
   margin: 10px 20px 10px 92px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 15px;
}
#Card4-card-item4
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0px 10px 0px 92px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card4-card-item4 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card4-card-item4 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#Card4-card-item5
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0px 10px 0px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card4-card-item5 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card4-card-item5 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#Card4-card-item6
{
   display: inline-block;
   height: 19px;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
}
#Card4-card-item6 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#Card4-card-item6 i
{
   text-align: center;
   font-size: 19px;
   width: 19px;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
