body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.40);
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 5px 15px;
   margin-right: auto;
   margin-left: auto;
}
#header .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 16.66666667%;
   text-align: left;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 83.33333333%;
   text-align: left;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/receita-feijoada.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   -webkit-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 80px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Carousel1
{
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
}
#wb_Carousel1
{
   display: block;
   float: left;
   font-size: 0;
   top: 0 !important;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   overflow: hidden;
   height: 342px;
}
#Carousel1 .innerframe
{
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 970px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Carousel1 .frame-1
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-2
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-3
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-4
{
   background-color: #FFFFFF;
   background-image: none;
}
#StickyLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 4px solid #4F4F4F;
   border-radius: 50%;
   opacity: 0.80;
}
#wb_up-arrow
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 21px;
}
#wb_up-arrow:hover i
{
   color: #4F4F4F;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon3
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon8
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon8
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon10
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon10
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon11
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon11:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon11
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 22px;
}
#wb_FontAwesomeIcon11:hover i
{
   color: #4F4F4F;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 30px 5px 30px 5px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid7 .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #F5F5F5;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 1px 10px 1px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -1px;
   margin-left: -1px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 1px;
   padding-left: 1px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: #D3D3D3;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   height: 50vh;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#contact > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont3
{
   height: 173px;
   width: 339px;
}
.IconFont3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont3:before
{
   content: "\e56c";
}
#IconFont3 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 173px;
   line-height: 173px;
   vertical-align: middle;
   width: 172px;
}
#wb_IconFont3:hover i
{
   color: #DCDCDC;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont4
{
   height: 182px;
   width: 339px;
}
.IconFont4
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont4:before
{
   content: "\e561";
}
#IconFont4 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 182px;
   line-height: 182px;
   vertical-align: middle;
   width: 181px;
}
#wb_IconFont4:hover i
{
   color: #DCDCDC;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 60px 0px;
   -webkit-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 5px 0px;
   text-align: left;
}
#Heading1
{
   color: #4F4F4F;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Picture1
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Picture1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   object-fit: cover;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
.ThemeableMenu1 .hide 
{
   display: none!important;
}
.ThemeableMenu1 .show 
{
   display: block!important;
}
.ThemeableMenu1 .hidden
{
   display: none!important;
   visibility: hidden!important;
}
.ThemeableMenu1 .nav
{
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 19px;
   font-style: normal;
   color: #4F4F4F;
   text-align: left;
}
#ThemeableMenu1, .ThemeableMenu1 .nav, .ThemeableMenu1 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   line-height: 1;
   list-style: none;
}
.ThemeableMenu1 .nav:before,
.ThemeableMenu1 .nav:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .nav:after 
{
   clear: both;
}
.ThemeableMenu1 .nav a 
{
   text-decoration: none;
}
.ThemeableMenu1 .nav ul
{
   margin-top: 0;
   margin-bottom: 10px;
}
.ThemeableMenu1 .nav ul ul
{
   margin-bottom: 0;
}
.ThemeableMenu1 .container 
{
   margin-right: auto;
   margin-left: auto;
   padding: 0;
}
.ThemeableMenu1 .container:before,
.ThemeableMenu1 .container:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .container:after 
{
   clear: both;
}
.ThemeableMenu1 .collapse 
{
   display: none;
}
.ThemeableMenu1 .collapse.in 
{
   display: block;
}
.ThemeableMenu1 .collapsing 
{
   position: relative;
   height: 0;
   overflow: hidden;
   -webkit-transition: height .35s ease;
   transition: height .35s ease;
}
.ThemeableMenu1 .caret 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-top: 4px solid #000;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
.ThemeableMenu1 .dropdown 
{
   position: relative;
}
.ThemeableMenu1 .dropdown-toggle:focus 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-menu 
{
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   min-width: 160px;
   padding: 5px 0;
   margin: 2px 0 0;
   list-style: none;
   font-size: 19px;
   background-color: #F5F5F5;
   background-image: none;
   border: 1px solid rgba(79,79,79,1.00);
   border-radius: 0px;
   background-clip: padding-box;
}
.ThemeableMenu1 .dropdown-menu .divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #4F4F4F;
}
.ThemeableMenu1 .dropdown-menu>li>a 
{
   display: block;
   padding: 3px 20px 3px 20px;
   clear: both;
   line-height: 1.428571429;
   color: #4F4F4F;
   white-space: nowrap;
}
.ThemeableMenu1 .dropdown-menu>li>a:hover,
.ThemeableMenu1 .dropdown-menu>li>a:focus 
{
   text-decoration: none;
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .dropdown-menu>.active>a,
.ThemeableMenu1 .dropdown-menu>.active>a:hover,
.ThemeableMenu1 .dropdown-menu>.active>a:focus 
{
   color: #fff;
   text-decoration: none;
   outline: 0;
   background-color: #343A40;
}
.ThemeableMenu1 .open>.dropdown-menu 
{
   display: block;
}
.ThemeableMenu1 .open>a 
{
   outline: 0;
}
.ThemeableMenu1 .dropdown-header 
{
   display: block;
   padding: 3px 20px;
   line-height: 1.428571429;
   color: #aeaeae;
}
.ThemeableMenu1 .dropdown-backdrop 
{
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   z-index: 990;
}
.ThemeableMenu1 .nav>li 
{
   position: relative;
   display: block;
}
.ThemeableMenu1 .nav>li>a 
{
   position: relative;
   display: block;
   padding: 15px 15px 15px 15px;
}
.ThemeableMenu1 .nav .open>a,
.ThemeableMenu1 .nav .open>a:hover,
.ThemeableMenu1 .nav .open>a:focus 
{
   background-color: #ccc;
   border-color: #343A40;
}
.ThemeableMenu1 .nav .nav-divider 
{
   height: 1px;
   margin: 9px 0;
   overflow: hidden;
   background-color: #4F4F4F;
}
.ThemeableMenu1 .nav>li>a>img 
{
   max-width: none;
}
.ThemeableMenu1 .nav .caret 
{
   border-top-color: #343A40;
   border-bottom-color: #343A40;
}
.ThemeableMenu1
{
   position: relative;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1:before,
.ThemeableMenu1:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1:after 
{
   clear: both;
}
.ThemeableMenu1 .navbar-header:before,
.ThemeableMenu1 .navbar-header:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1 .navbar-header:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse 
{
   max-height: 340px;
   overflow-x: visible;
   -webkit-overflow-scrolling: touch;
}
.ThemeableMenu1-navbar-collapse:before,
.ThemeableMenu1-navbar-collapse:after 
{
   content: " ";
   display: table;
}
.ThemeableMenu1-navbar-collapse:after 
{
   clear: both;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle 
{
   position: relative;
   float: right;
   padding: 17px 10px 16px 10px;
   background-color: transparent;
   border: 1px solid transparent;
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   display: block;
   width: 22px;
   height: 2px;
   border-radius: 1px;
}
.ThemeableMenu1 .navbar-toggle .icon-bar+.icon-bar 
{
   margin-top: 4px;
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 6px -15px;
}
.ThemeableMenu1 .navbar-nav>li>.dropdown-menu 
{
   margin-top: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #4F4F4F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
   text-decoration: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #2B2B2B;
   background-color: #EDEDED;
   background-image: none;
}
.ThemeableMenu1 .navbar-toggle 
{
   border: 1px solid rgba(79,79,79,0.10);
}
.ThemeableMenu1 .navbar-toggle:hover,
.ThemeableMenu1 .navbar-toggle:focus 
{
   background-color: transparent;
}
.ThemeableMenu1 .navbar-toggle .icon-bar 
{
   background-color: #4F4F4F;
}
.ThemeableMenu1-navbar-collapse
{
   border-color: rgba(79,79,79,1.00);
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: #EDEDED;
   background-image: none;
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #2B2B2B;
   border-bottom-color: #2B2B2B;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret 
{
   border-top-color: #4F4F4F;
   border-bottom-color: #4F4F4F;
}
.ThemeableMenu1 .navbar-link 
{
   color: #4F4F4F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #2B2B2B;
}
.ThemeableMenu1 .navbar-header
{
   color: #4F4F4F;
   height: 51px;
}
@media (min-width: 480px) 
{
.ThemeableMenu1 .navbar-right .dropdown-menu 
{
   right: 0;
   left: auto;
}
.ThemeableMenu1 .navbar-header 
{
   float: left;
}
.ThemeableMenu1-navbar-collapse 
{
   width: auto;
   border-top: 0;
   box-shadow: none;
}
.ThemeableMenu1-navbar-collapse.collapse 
{
   display: block!important;
   height: auto!important;
   padding-bottom: 0;
   overflow: visible!important;
}
.ThemeableMenu1-navbar-collapse.in 
{
   overflow-y: auto;
}
.ThemeableMenu1 .navbar-toggle
{
   display: none;
}
.ThemeableMenu1 .navbar-nav 
{
   float: right;
   margin: 0;
}
.ThemeableMenu1 .navbar-nav>li 
{
   float: left;
}
.ThemeableMenu1 .container>.navbar-header,
.ThemeableMenu1 .container>.ThemeableMenu1-navbar-collapse 
{
   margin-right: 0;
   margin-left: 0;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.dropdown>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
}
@media (max-width: 480px) 
{
.ThemeableMenu1 
{
   border-color: rgba(79,79,79,0.00);
}
.ThemeableMenu1 .navbar-nav 
{
   margin: 0;
   background-color: #F5F5F5;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu 
{
   position: static;
   float: none;
   width: auto;
   margin-top: 0;
   background-color: transparent;
   border: 0;
   box-shadow: none;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu .dropdown-header 
{
   padding: 5px 15px 5px 25px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a 
{
   line-height: 20px;
}
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:hover,
.ThemeableMenu1 .navbar-nav .open .dropdown-menu>li>a:focus 
{
   background-image: none;
}
}
@media (min-width: 480px) 
{
.ThemeableMenu1 
{
   background-color: transparent;
   background-image: none;
   border-color: rgba(79,79,79,0.00);
   border-radius: 0px;
}
.ThemeableMenu1 .navbar-nav>li>a 
{
   color: #4F4F4F;
}
.ThemeableMenu1 .navbar-nav>li>a:hover,
.ThemeableMenu1 .navbar-nav>li>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.active>a,
.ThemeableMenu1 .navbar-nav>.active>a:hover,
.ThemeableMenu1 .navbar-nav>.active>a:focus 
{
   color: #007BFF;
   background-color: transparent;
   background-image: none;
}
.ThemeableMenu1 .navbar-nav>.open>a,
.ThemeableMenu1 .navbar-nav>.open>a:hover,
.ThemeableMenu1 .navbar-nav>.open>a:focus 
{
   background-color: transparent;
   background-image: none;
   color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a:hover .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.dropdown>a .caret
{
   border-top-color: #4F4F4F;
   border-bottom-color: #4F4F4F;
}
.ThemeableMenu1 .navbar-nav > li.active > a > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:hover > .caret,
.ThemeableMenu1 .navbar-nav > li.active > a:focus > .caret
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-nav>.open>a .caret,
.ThemeableMenu1 .navbar-nav>.open>a:hover .caret,
.ThemeableMenu1 .navbar-nav>.open>a:focus .caret 
{
   border-top-color: #007BFF;
   border-bottom-color: #007BFF;
}
.ThemeableMenu1 .navbar-link 
{
   color: #4F4F4F;
}
.ThemeableMenu1 .navbar-link:hover 
{
   color: #fff;
}
}
#wb_contactHeading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: left;
}
#contactHeading1
{
   color: #696969;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: left;
}
#wb_contactText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 0px 10px 0px;
   margin: 0;
   text-align: left;
}
#wb_contactText1
{
   font-family: Arial;
   font-weight: normal;
   font-size: 8px;
   line-height: 10px;
}
#wb_contactText1 div
{
   text-align: left;
   white-space: nowrap;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: left;
}
#Heading2
{
   color: #4F4F4F;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-size: 43px;
   margin: 0;
   text-align: left;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont1
{
   height: 175px;
   width: 339px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e541";
}
#IconFont1 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 175px;
   line-height: 175px;
   vertical-align: middle;
   width: 174px;
}
#wb_IconFont1:hover i
{
   color: #DCDCDC;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading5
{
   color: #696969;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading6
{
   color: #696969;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading7
{
   color: #696969;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Heading4
{
   color: #696969;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon1
{
   height: 52px;
   width: 44px;
}
#FontAwesomeIcon1 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 44px;
   line-height: 52px;
   vertical-align: middle;
   width: 27px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #4F4F4F;
}
