body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/receita-feijoada.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   -webkit-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 60px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Carousel1
{
   background-color: #FFFFFF;
   background-image: none;
   margin: 0;
}
#wb_Carousel1
{
   display: block;
   float: left;
   font-size: 0;
   top: 0 !important;
}
#Carousel1 .frame
{
   width: 970px;
   display: inline-block;
   overflow: hidden;
   height: 332px;
}
#Carousel1 .innerframe
{
   display: inline-block;
   height: 0;
   left: 0;
   margin-left: 0;
   position: absolute;
   top: 0;
   width: 970px;
}
#wb_Carousel1 .pagination
{
   bottom: 0;
   left: 0;
   position: absolute;
   text-align: center;
   vertical-align: middle;
   width: 100%;
   z-index: 998;
}
#wb_Carousel1 .pagination img
{
   border-style: none;
   padding: 12px 12px 12px 12px;
}
#Carousel1 .frame-1
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-2
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-3
{
   background-color: #FFFFFF;
   background-image: none;
}
#Carousel1 .frame-4
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 20px 0px;
   text-align: center;
}
#Heading2
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#StickyLayer
{
   background-color: #FFFFFF;
   background-image: none;
   border: 4px solid #4F4F4F;
   border-radius: 50%;
   opacity: 0.80;
}
#wb_up-arrow
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_up-arrow:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid transparent;
}
#up-arrow
{
   height: 24px;
   width: 24px;
}
#up-arrow i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 21px;
}
#wb_up-arrow:hover i
{
   color: #4F4F4F;
}
#wb_ResponsiveMenu1
{
   background-color: rgba(255,255,255,1.00);
   display: block;
   font-family: Tahoma;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #FFFFFF;
   display: inline-block;
   height: 72px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #FFFFFF;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a 
{
   color: #4F4F4F;
   font-family: Tahoma;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   padding: 15px 30px 15px 30px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 42px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #FFFFFF;
   color: #000000;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 72px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #FFFFFF;
   color: #4F4F4F;
   float: none;
   position: relative;
   width: 136px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #FFFFFF;
   color: #000000;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #4F4F4F;
   padding: 0px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 136px;
   position: relative;
   top: -72px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #4F4F4F;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #4F4F4F;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #000000;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:970px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 16px;
   font-weight: normal;
   font-style: normal;
   padding: 0px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #FFFFFF;
   color: #4F4F4F;
   padding: 0px 20px 0px 20px;
   line-height: 39px;
   text-decoration: none;
   border: none;
   position: relative;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #FFFFFF;
   color: #000000;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 72px;
   line-height: 72px !important;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
   text-align: left;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #FFFFFF;
   color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #FFFFFF;
   color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 0px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   right: 30px;
   top: 24px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #4F4F4F;
   color: #4F4F4F;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #FFFFFF;
   color: #000000;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #4F4F4F;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #000000;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #4F4F4F;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #000000;
}
}
#wb_ResponsiveMenu1.affix
{
   top: 0 !important;
   position: fixed !important;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 15px 0px 15px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text17 div
{
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon3
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon3 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon8
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon8
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon8 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon10
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon10
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #4F4F4F;
}
#wb_FontAwesomeIcon11
{
   background-color: #4F4F4F;
   background-image: none;
   border: 8px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 12px 12px 12px 12px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon11:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 8px solid #4F4F4F;
}
#FontAwesomeIcon11
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon11 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 22px;
}
#wb_FontAwesomeIcon11:hover i
{
   color: #4F4F4F;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 20px 1px 10px 1px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 .row
{
   margin-right: -1px;
   margin-left: -1px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 1px;
   padding-left: 1px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 50vh;
   background-color: transparent;
   background-image: url(images/fundomeu.png);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   height: 50vh;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont2
{
   height: 220px;
   width: 339px;
}
.IconFont2
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont2:before
{
   content: "\e541";
}
#IconFont2 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 220px;
   line-height: 220px;
   vertical-align: middle;
   width: 219px;
}
#wb_IconFont2:hover i
{
   color: #DCDCDC;
}
#wb_IconFont3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont3:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont3
{
   height: 219px;
   width: 339px;
}
.IconFont3
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont3:before
{
   content: "\e56c";
}
#IconFont3 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 219px;
   line-height: 219px;
   vertical-align: middle;
   width: 218px;
}
#wb_IconFont3:hover i
{
   color: #DCDCDC;
}
#wb_IconFont4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont4
{
   height: 220px;
   width: 339px;
}
.IconFont4
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont4:before
{
   content: "\e561";
}
#IconFont4 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 220px;
   line-height: 220px;
   vertical-align: middle;
   width: 219px;
}
#wb_IconFont4:hover i
{
   color: #DCDCDC;
}
#wb_IconFont5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_IconFont5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont5
{
   height: 220px;
   width: 339px;
}
.IconFont5
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont5:before
{
   content: "\e563";
}
#IconFont5 i
{
   color: #4F4F4F;
   display: inline-block;
   font-size: 220px;
   line-height: 220px;
   vertical-align: middle;
   width: 219px;
}
#wb_IconFont5:hover i
{
   color: #DCDCDC;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 60px 0px;
   -webkit-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   text-align: center;
}
#Heading3
{
   color: #FFFFFF;
   font-family: Verdana;
   font-weight: normal;
   font-size: 64px;
   margin: 0;
   text-align: center;
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid4 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 5px 0px;
   text-align: left;
}
#Heading1
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Picture1
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Picture1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   object-fit: contain;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid6 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0px 0px 5px 0px;
   text-align: left;
}
#Heading4
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 32px;
   margin: 0;
   text-align: left;
}
#wb_Picture2
{
   height: 100%;
   margin: 0;
   vertical-align: top;
}
#Picture2
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   object-fit: contain;
   display: inline-block;
   width: 100%;
   height: 100%;
   vertical-align: top;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
