@-webkit-keyframes transform-bounce
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform: rotate(0deg) ;  }
   40% { -webkit-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -webkit-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform: rotate(0deg) ;  }
   40% { -moz-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -moz-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-bounce
{
   0% { -o-transform: rotate(0deg) ;  }
   20% { -o-transform: rotate(0deg) ;  }
   40% { -o-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -o-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-bounce
{
   0% { -ms-transform: rotate(0deg) ;  }
   20% { -ms-transform: rotate(0deg) ;  }
   40% { -ms-transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
   60% { -ms-transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce
{
   0% { transform: rotate(0deg) ;  }
   20% { transform: rotate(0deg) ;  }
   40% { transform: translate(0px,-30px) rotate(0deg) ;  }
   50% { transform: translate(0px,0px) rotate(0deg) ;  }
   60% { transform: translate(0px,-15px) rotate(0deg) ;  }
   80% { transform: translate(0px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
.visibility-hidden
{
   visibility: hidden;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3, .h3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4, .h4
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6, .h6
{
   font-family: Arial;
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #2E74B5;
   background-color: transparent;
}
