body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   opacity: 0.77;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/receita-feijoada.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   -webkit-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   -moz-animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
   animation: transform-bounce-in 1000ms linear 0ms 1 normal both;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 60px 0px 0px 0px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid22
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid22
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid22 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid22 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid22 > .row > .col-1
{
   float: left;
}
#LayoutGrid22 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid22:before,
#LayoutGrid22:after,
#LayoutGrid22 .row:before,
#LayoutGrid22 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid22:after,
#LayoutGrid22 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid22 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Line12
{
   border-color: #CCCCCC;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_LayoutGrid29
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid29
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid29 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid29 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid29 > .row > .col-1
{
   float: left;
}
#LayoutGrid29 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid29:before,
#LayoutGrid29:after,
#LayoutGrid29 .row:before,
#LayoutGrid29 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid29:after,
#LayoutGrid29 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid29 > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#Line15
{
   border-color: #CCCCCC;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 20px 0px 20px 0px;
   padding: 0;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#IconFont1
{
   height: 163px;
   width: 130px;
}
.IconFont1
{
   position: relative;
   left: 0;
   top: 0;
   display: inline-block;
   font-family: "Material Icons";
   font-style: normal;
   font-weight: normal;
   line-height: 1;
}
.IconFont1:before
{
   content: "\e853";
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 130px;
   line-height: 163px;
   vertical-align: middle;
   width: 129px;
}
#wb_IconFont1:hover i
{
   color: #4F4F4F;
}
#Layer9
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 360px;
   opacity: 0.77;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#FontAwesomeIcon2
{
   height: 24px;
   width: 24px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 19px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #FFFFFF;
}
#Layer10
{
   background-color: #000000;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 360px;
   opacity: 0.77;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#FontAwesomeIcon1
{
   height: 24px;
   width: 24px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
