 <div class="text-center nav-title cortransp"  >
      <span  class="black-text font-mes font-weight-bold bg-text mes"> {{this.mesAtual}} </span>
      <legend  class="black-text font-mes font-weight-bold none" [class.ver] = "sticky">
          <span >{{this.totalmes }}</span>
     </legend>
          <div class="nav-content " [class.none] = "sticky">
            <ul class="tabs tabs-transparent">
                <li class="tab" *ngFor="let item of meseslist">
                  <a class="mes text-center black-text font-mes" (click)="verMes(item)">
                      {{item}}
                  </a>
                </li>
            </ul>
          </div>
  </div>

<div  class="inicio animated fadeIn "  >
<div class="collection">

  <div class="collection-item text-center">
      <legend  class="black-text font-mes font-weight-bold ">
          <i class="material-icons">event</i>     </legend>
      <legend  class="black-text font-mes font-weight-bold " >
             <span >{{this.totalmes }}</span>
        </legend>
  </div>

<div *ngFor="let item of this.categoryListOffline" >
   
<a class="collection-item  animated fadeIn waves-effect" (click)="verCatTotal(this.mesAtual, item.get('cat_name'))" >
  <i class="material-icons black-text bg-icon">style</i>{{item.get('cat_name')}} <span class="float-right black-text font-weight-bold">{{this.server.getMoneyFormat(item.get('totalmes'))}}</span>
      <div class="progress">
            <div class="determinate" style="width: 6%"></div>
        </div>
</a>
</div>

</div>
</div>
<div class=" fixed-action-btn-left">
  <a   (click)="callTab('/main')" class="text-Black">
    <i class="material-icons tamanho" >chevron_left</i>
  </a>
</div>


