<mdb-card class="card-image mb-3 card-login fixed-top">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center py-5 px-4">
    <div>
      <h2 class="pink-text">
        <mdb-icon fas icon="chart-pie"></mdb-icon>
          Meu Kumbu
      </h2>
       
      <h5>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam,
          Odit sed qui, dolorum!.
        </h5>
      
      </div>
  </div>
  <!-- Content -->
</mdb-card>
<!-- Card -->
<a mdbBtn color="pink" class="waves-light  btn-floating" mdbWavesEffect>
        <mdb-icon fa icon="clone" class="left"></mdb-icon>
        View project
</a>