<link rel="stylesheet" type="text/css" href="../../styles.css">

  <div class="text-center nav-title cortransp">
    <span class="black-text font-mes font-weight-bold bg-text">Saldo</span> 
  
    <legend >
        <span class="black-text font-mes font-weight-bold" id="saldo">0,00 AOA</span>
     </legend>     
   
    </div>
 
<div  class="inicio animated fadeIn" id="principal">
  <ul class="tabs cortransp ">
           <li class="tab">
               <a  (click)="callTab('/add')"
                  class="black-text waves-light">
                  <i class="fa fa-bar-chart fa-1x"> </i>              
                  </a>
           </li>

           <li class="tab">
               <a  (click)="callTab('/definicoes')"  
                  class="black-text waves-light">
                  <i class="fa fa-pie-chart fa-1x"> </i>              
               </a>
           </li>
           <li class="tab">
               <a  (click)="callTab('/')"  
                  class="black-text waves-light">
                  <i class="fa fa-line-chart fa-1x"> </i>              
               </a>
           </li>
</ul>
  <div  class="canvas collection " >
    <div id="chartCat"  class="collection-item text-center waves-light animated">
        <legend >
           Despesas por Categorias
        </legend>
    <canvas id="doughnutChart"></canvas>
    <legend >
      Total: <span class="black-text font-mes font-weight-bold">{{this.Despesastotais}}</span>
   </legend>

   <div id="list"  class=" animated none">
      <div class="text-center">
      <h5>  Destaques </h5>
    </div>
    <ul class="collection">
          <li>
            <div class="collapsible-header"><i class="material-icons">chat_bubble</i>First
            <div class="progress">
                <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
          </li>
        </ul>
    </div>
  </div>
  <a class="collection-item" data-toggle="modal" data-target="#meta">
      <i class="material-icons bg-icon">trending_up</i>Meta <span class="float-right font-weight-bold ">65000,00 AOA</span>
      <div class="progress">
          <div class="determinate" style="width: 70%"></div>
      </div>
  </a>
  <a class="collection-item"    >
      <i class="material-icons bg-icon">search</i>Despesas <span class="float-right font-weight-bold">{{this.Despesastotais}}</span>
      <div class="progress">
          <div class="determinate" style="width: 70%"></div>
      </div>
  </a>
  <a  class="collection-item">
      <i class="material-icons bg-icon">credit_card</i>Cartão <span class="float-right font-weight-bold ">{{this.cartaoTotal}}</span>
  </a>
  <a class="collection-item">
      <i class="material-icons bg-icon">turned_in_not</i>Carteira <span class="float-right font-weight-bold">{{this.carteiraTotal}}</span>
  </a>
</div>
</div>

<div class="topo-fixo">
    <ul class="tabs">
                 <li class="tab active">
                        <a  (click)="callTab('/relatorios')"
                           class="black-text  waves-light">
                            <i class="material-icons">insert_chart</i>
                        </a>
                    </li>
  
                    <li class="tab">
                        <a  (click)="callTab('/add')"
                           class="black-text waves-light">
                            <i class="material-icons">add_circle</i>
                        </a>
                    </li>
  
                    <li class="tab">
                        <a  (click)="callTab('/definicoes')"  
                           class="black-text waves-light">
                            <i class="material-icons">settings</i>
                        </a>
                    </li>
                    <li class="tab">
                        <a  (click)="callTab('/')"  
                           class="black-text waves-light">
                            <i class="material-icons">info</i>
                        </a>
                    </li>
    </ul>
  </div>
