<div class="text-center nav-title cortransp "  >
    <span  class="black-text font-mes font-weight-bold bg-text" > {{this.categoriaAtual}} </span>
    <legend  class="black-text font-mes font-weight-bold none" [class.ver] = "sticky">
        <span >{{this.totalmesCat}}</span>
   </legend>
       
</div>

<div  class="inicio animated fadeIn "  >
<div id="categoria" >
<div class="collection">

<div class="collection-item text-center">
    <legend  class="black-text font-mes font-weight-bold " >
           <span >{{this.totalmesCat}}</span>
      </legend>
</div>
<div class="collection-item  animated fadeIn"   *ngFor="let desp of this.categoryDespesas">
    <i class="material-icons black-text bg-icon">shopping_basket</i>{{desp.get('artigo')}} 
<span class="float-right black-text font-weight-bold">{{this.server.getMoneyFormat(desp.get('quantidade'))}}</span>
 <ul class="tabs font-small">
            <li >
                   <a  
                      class="black-text  waves-light">
                       <i class="material-icons">event</i>
                       {{desp.get('dia_mes')}} / {{desp.get('mes')}} / {{desp.get('ano')}}{{desp.get('objectId')}}
                   </a>
               </li>
<li class="tab">

</li>
               <li class="">
                   <a  (click)="editarRegistro(desp.id)"
                      class="black-text waves-light">
                       <i class="material-icons">edit</i>
                   </a>
               </li>

               <li class="">
                   <a (click)="deleteDespesa(desp.id)"  
                      class="black-text waves-light">
                       <i class="material-icons">delete</i>
                   </a>
               </li>
               
</ul>
<div id="{{desp.id}}"  class=" animated none text-center corapp">
    <span>
        Remover registro: <span> {{desp.get('artigo')}} ?</span>
      </span>
    <ul class="tabs corapp">
        
               <li class="tab">
                   <a (click)="apagar(desp)"  
                      class=" green-text waves-light">
                       <i class="material-icons">done</i>
                   </a>
               </li>
               <li class="tab">
                   <a  (click)="canselar(desp.id)"
                      class="red-text waves-light">
                       <i class="material-icons">clear</i>
                   </a>
               </li>
          </ul>
      </div>
      <hr>

</div>


  
</div>
</div>
</div>
<div class=" fixed-action-btn-left">
<a   (click)="callTab('/relatorios')" class="text-Black">
  <i class="material-icons tamanho" >chevron_left</i>
</a>
</div>


