.barra{
    top:-99.99px;
    z-index: 2;
    padding-bottom:60px;
    padding-top:40px;
    width:100%;
    position: fixed;
  }

.corapp{background:  #f2f2f7!important;}
.card{margin: 4px !important;}

@media only screen and (max-width:320px){
.card{
  display: inline !important;
  height: 48% !important;
  width: 48% !important;
  }
  .container {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}

}

@media only screen and (max-width:425px){

}
@media only screen and (max-width:768px){

}
@media only screen and (max-width:1024px){

}


.fullcontainer {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto 
}
.bg-native {
    background-color: #931000 !important;
}
.text-native {
  color: #931000 !important;
}
.titlename{
  color: white;
  font-family: fantasy;
}

.fa-facebook, .fa-instagram, .fa-phone{
  color: white;
}
.navbar-light .navbar-toggler {
  border-color:transparent !important;
}
.card-body {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: #cbe0f063;
}