<!doctype html>
<html lang="pt">
<head>
  <meta charset="utf-8">
  <title>Meu kumbu</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/img/icon.png">
  <meta name="theme-color" content="#F77F00">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Meukumbu">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon-precomposed" href="assets/img/icon.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/img/icon.png">
  <meta name="msapplication-TileColor" content="#F77F00">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/img/icon.png">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#1976d2">

  <link rel="stylesheet" type="text/css" href="../../styles.css">
  <script type="text/javascript" src="../../main.js"></script> 
</head>
<body class="corapp">
  <div class="home ">
    <div class="barra corapp"></div>
    <div class="fundocor"></div>
    <div class="current-page">
    <main  class="corapp">
    <div id="pagina">
    <div class="text-center nav-title corapp">
    <span class="black-text font-mes font-weight-bold bg-text">  Adicionar despesa </span>
 <br>
        <label for="quanto"><i class="material-icons">mode_edit</i></label>
        <label for="artigo"><i class="material-icons">shopping_cart</i></label>
  </div>

<div  class="inicio animated fadeIn">

  <div class="canvas collection">

  <div class="collection-item text-center">
    
      <form class="col s12 formulario">
          <div class="row">
            <div class="input-field col s12">
              <input value="" id="quanto" type="number" class="validate" placeholder="Ex: 1000,00" #quantidade>

            </div>
          </div>

          <div class="row">
              <div class="input-field col s12">
                <input value="" id="artigo" type="text" class="validate" placeholder="EX: taxi" #artigo>

              </div>
            </div>

          <div class="row">
            <div class="input-field col s12">
                <select class="form-control" #categoria  >
                  <option value="" disabled selected>Categorias</option>
                  <option *ngFor="let item of categoryList" value="{{item.categoria}}">
                    {{item.categoria}}
                  </option>                  
                </select>
              </div>

              <div class="input-field col s12">
                  <select class="form-control" #money>
                    <option class="" value="" disabled selected>Cartão/Carteira</option>
                    <option value="1">Cartão</option>
                    <option value="2">Carteira</option>
                  </select>
                </div>
              </div>
              <label for="data"><i class="material-icons">today</i></label>

          <div class="row">
            <div class="input-field col s12">
              <input id="data" type="number" class="validate" #dia>
            </div>
            <div class="input-field col s12">
              <input id="data" type="text" class="validate" #mes>
            </div>
            <div class="input-field col s12">
              <input id="data" type="number" class="validate" #ano>
            </div>
          </div>
        </form>

  </div>
<div class=" text-center ">
        <a (click)="SaveDespesa();" class="btn-floating btn-large">
          <i class="material-icons" style="vertical-align: baseline; margin: inherit;">
          create
        </i>
      </a>
</div>
</div>
</div>

<div class=" fixed-action-btn-left">
    <a   onclick="window.history.back();sessionStorage.removeItem('registro')" class="text-Black">
      <i class="material-icons tamanho" >chevron_left</i>
    </a>
</div>

    </div>
    </main>
    </div>
  </div>  
</body>
</html>










 
